{
  "presets": [
    "flow",
    "airbnb",
    [
      "env", {
      "targets": { "browsers": ["last 2 versions"] }
    }
    ]
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  },
}
